/* (A) WRAPPER */
#pop-up {
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
  }
  #pop-up.open {
    visibility: visible;
    opacity: 1;
  }
  
  /* (B) BOX */
  #pop-box {
    position: relative;
    max-width: 400px;
    background: white;
    margin: 50vh auto 0 auto;
    transform: translateY(-50%);
  }
  #pop-box > * {
    font-family: 'PT Sans', sans-serif;
    color: #164460;
  }
  
  /* (C) TITLE */
  #pop-title {
    padding: 10px;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  
  /* (D) FORM FIELDS */
  .pop-labels {
  }

  .pop-inputs {

  }
  
  /* (E) CLOSE BUTTON */
  #pop-close {
    position: absolute;
    top: 0; right: 5px;
    padding: 5px;
    cursor: pointer;
  }